*{
    margin:0 0 ;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin:0 auto;
    padding: 1%;
}
.img-responsive{
    width:60%;
    height: 60%;   
}
.img-responsive2{
    width:5%;
    height: 5%;   
}
.img-responsive1{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
a{
    color: #100d0e;
    text-decoration: none;
}
a:hover{
    color: rgb(88, 84, 84);
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #6e304b;
    color: rgb(237, 230, 230);
    cursor: pointer;
}
.btn-primary:hover{
    background-color: crimson;
}
h1{
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
}
h2{
    color: rgb(45, 37, 37);
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.3rem;
}
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}
.clearfix{
    clear: both; 
    float: none;   
}
.float-container{
    position: relative;    
}
.float-text{
    position: absolute;
    bottom: 30px;
    left: 33%;
}
.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 50px;
} 
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 2%;
    font-weight: bold;
}

.food-search{
    background-image: url(../images/424516.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}
.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.categories{
    padding: 4% 0;
}
.box-3{
    width: 28%;
    float: left;
    margin: 2.5%;
}
.food-menu{
    background-color: coral;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    float: left;
    margin: 1%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width:20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float:left;
    margin-left: 8%;
}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: rgba(31, 30, 29, 0.654);
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 5%;
    }
    .btn{
        width: 91%;
        padding: 2%;
    }
    .food-search{
        padding: 10% 0;
    }
    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 90%;
        margin: 4% auto;
    }
    .food-menu{
        padding: 20% 0;
    }
    .food-menu-box{
        width: 90%;
        padding: 10%;
    }
    .social{
        padding: 1%;
    }
}